# Build output directies
/target
*/target
/build
*/build
.gradle/

# Ignore Gradle GUI config
gradle-app.setting

# Avoid ignoring Gradle wrapper jar file (.jar files are usually ignored)
!gradle-wrapper.jar

# Cache of project
.gradletasknamecache

# # Work around https://youtrack.jetbrains.com/issue/IDEA-116898
# gradle/wrapper/gradle-wrapper.properties

# IntelliJ specific files/directories
out
.idea
*.ipr
*.iws
*.iml

# Eclipse specific files/directories
.classpath
.project
.settings
.metadata

bin/

# Logs
logs
*.log